extends layout 

block content
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(type= 'text/javascript', src= "/javascripts/main.js")
  h1#TableName Medical

  div 
    button#billing Billing 
    button#patients Patients

  form#medicalForm(action="/", method='POST')
    div 
    fieldset 
      legend Add Data 
      label I.D:
      input(type= 'text', id= 'medicalID', name= 'medicalID')
      label First Name:
      input(type= 'text', id= 'medicalFN', name= 'medicalFN')
      label Last Name:
      input(type= 'text', id= 'medicalLN', name= 'medicalLN')
      label Date Prescribed:
      input(type= 'text', id= 'dateprescribed', name= 'dateprescribed')
      br
      label Medicine Name:
      input(type= 'text', id= 'medname', name= 'medname')
      label Instructions:
      input(type= 'text', id= 'instructions', name= 'instructions')
      label Quantity:
      input(type= 'text', id= 'quantity', name= 'quantity')
      label DateOfService:
      input(type= 'text', id= 'dateofservice', name= 'dateofservice')
      br
      button(type= 'submit') Submit


  div 
  br
  table
    thead 
      tr 
      -each i in HeadingList 
        th= i 
    tbody 
      tr
        -each i in DataList 
          tr 
          td= i.id
          td= i.first_name 
          td= i.last_name 
          td= i.date_prescribed
          td= i.med_name
          td= i.instructions
          td= i.quantity 
          td= i.date_of_service
