extends layout 

block content
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(type= 'text/javascript', src= "/javascripts/main.js")
  h1#TableName Patients

  div 
    button#billing Billing 
    button#medical Medical

  form#patientsForm(action="/", method='POST')
    div 
    fieldset 
      legend Add Data 
      label I.D:
      input(type= 'text', id= 'patientsID', name= 'patientsID')
      label First Name:
      input(type= 'text', id= 'patientsFN', name= 'patientsFN')
      label Last Name:
      input(type= 'text', id= 'patientsLN', name= 'medicalLN')
      label Phone:
      input(type= 'text', id= 'phone', name= 'phone')
      br
      label Address:
      input(type= 'text', id= 'address', name= 'address')
      label City:
      input(type= 'text', id= 'city', name= 'city')
      label State:
      input(type= 'text', id= 'state', name= 'state')
      label Zip Code:
      input(type= 'text', id= 'zip', name= 'zip')
      br
      button(type= 'submit') Submit


  div 
  br
  table
    thead 
      tr 
      -each i in HeadingList 
        th= i 
    tbody 
      tr
        -each i in DataList 
          tr 
          td= i.id
          td= i.first_name 
          td= i.last_name 
          td= i.phone
          td= i.address
          td= i.city
          td= i.state 
          td= i.zip_code